.search-box {
    display: grid;
    justify-content: space-around;
}

.unique-values {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.unique-values-zones {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-box > input,
.card-sets,
.search-box option {
    width: 200px;
    margin: auto;
}

.comparison-icons {
    margin-right: 10px;
}

.number-input-field {
    width: 160px;
}

.span-grid-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.control-difficulty-wrapper,
.attack-speed-damage-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}