.results-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 1rem;
    margin: 2rem 2rem;
    position: relative;
}

.card-wrapper {
    background-color: #8d8e8f58;
    border-radius: 1.5rem;
}

.results-img-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.results-wrapper img {
    width: 300px;
    border-radius: 1.5rem;
    box-shadow: 0 6.67px 13.34px #021c29;
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

img:hover {
    position: relative;
    z-index: 1;
    transform: scale(1.6);
  }


.results-btn-wrapper {
    position: relative;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    z-index: 0; 
    display: block;
    margin-top: 1rem;
}