.App {
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    text-decoration: none;
    background: rgb(255,222,0);
    background: linear-gradient(90deg, rgba(255,222,0,0.8883928571428571) 0%, rgba(238,87,29,1) 25%, rgba(238,87,29,1) 75%, rgba(255,222,0,0.8827906162464986) 100%);
    color: rgb(255, 255, 255, 1);
    padding: 20px 0;
    font-size: larger;
    font-weight: bold;
}

.nav-bar a:visited {
    color: rgb(255, 255, 255, 1);
}

.nav-bar a,
.nav-bar p {
    padding-right: 50px;
}