.App {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: rgb(255,222,0);
    background: radial-gradient(circle, rgba(255,222,0,0.7035189075630253) 0%, rgba(238,87,29,0.5802696078431373) 100%);
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    background: rgb(255,222,0);
    background: linear-gradient(90deg, rgba(255,222,0,0.8883928571428571) 0%, rgba(238,87,29,1) 25%, rgba(238,87,29,1) 75%, rgba(255,222,0,0.8827906162464986) 100%);
    color: rgb(255, 255, 255, 1);
    padding: 20px 0;
    font-size: larger;
    font-weight: bold;
    border-bottom: 2px solid black;
}

#logo {
    position:absolute;
    left: 5px;
    top: 5px;
}

.nav-bar a:visited {
    color: rgb(255, 255, 255, 1);
}

.nav-bar a,
.nav-bar li {
    padding-right: 50px;
}